.idea
.vscode
.gradle
.gradle-home
.settings
*build
*.jks
*.properties
!gradle.properties
!gradle/gradle-daemon-jvm.properties
!gradle/wrapper/gradle-wrapper.properties
lib-*.aar
/Release
/docs
.workbuddy/
